@font-face {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS'), url('fonts/trebuc.woff') format('woff');
    }
@font-face {
    font-family: 'Trebuchet MS Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Trebuchet MS Italic'), url('fonts/Trebuchet-MS-Italic.woff') format('woff');
    }

body {
    background-image: url("images/blackjack.jpg");
    background-color: #a34d32;
    background-repeat: no-repeat;
    background-size: cover;
    
    color: #fad0bc;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bold;
}

h1 {
    background-color: #3e2217;
    padding: 10px 0px;
    width: 250px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: #fad0bc 0 0 10px;
}

#message-el {
    font-family: 'Trebuchet MS Italic';
}

button {
    display: block;
    color: #a34d32;
    width: 150px;
    background-color: #fad0bc;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 7px 0;
    border: none;
    border-radius: 3px;
    margin: 4px auto;
}

